/* Andela Job Seeker - Project 1  |  Fiyin Adebayo 
    15th November 2014    */


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ********* GENERAL ******** */

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: kalinga, 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

#main {
  max-width: 100%;
  /*width: 1350px;*/
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}

/* ********* TOP HEADER ********
    This is the first div layer   */

#top {
  background-image: url('../images/top_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0;
  height: 800px;
  max-width: 100%;
}

#header {
  width: 99.8%;
  height: 62px;
  /*border: 1px solid red;*/
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: 5;
}

#ul {
  /*border: 1px solid blue;*/
  width: 50%;
  position: absolute;
  right: 0;
  z-index: 30;
  margin: 20px 5px;
}

#ul a {
  color: #000;
}

#ul a:hover {
  text-decoration: underline;
}

#ul a:visited {
  color: #000;
}

#ul ul li {
  display: inline-block;
  list-style: none;
  padding-left: 30px;
  font-size: 1.2em;
}

#logo {
  /*max-width: 100%;*/
  /*width: 245px;
  height: 165px;*/
  /*border: 1px solid green;*/
  /*margin: 20px 0 0 100px;*/
  margin: 5% 0 0 5%;
  /*background-image: url("../images/logo.png");
  background-repeat: no-repeat;*/
  position: absolute;
  z-index: 20;
  opacity: .9;
}

#logo img {
  width: 80%;
  height: 60%;
}

#post {
  /*border: 1px solid purple;*/
  width: 450px;
  height: 330px;
  margin: 18% 0 0 10%;
  padding: 10px;
  position: absolute;
  text-align: left;
  line-height: 1.6;
}

#post h1 {
  font-size: 2.6125em;
  font-weight: bold;
  padding-left: 20px;
}

#post p {
  font-size: 1.3625em;
  line-height: 1.5;
  padding-left: 20px;
}

#post form {
  text-align: left;
  margin: 20px;
}

.post_button, .get_started_button {
  width: 242px;
  height: 60px;
  background-color: #208b0a;
  outline: 0;
  border: none;
  color: #fff;
  font-size: 25px;
  font-family: "AvantGarde Bk BT";
}

#post .post_button:hover, .get_started_button:hover {
  background-color: #25a20d;
}

#hire {
  position: absolute;
  /*border: 1px solid cyan;*/
  width: 100%;
  height: 180px;
  margin-top: 620px;
  background-color: #000;
  color: #fff;
  opacity: 0.6;
}

.hire_text {
  margin: 20px;
  line-height: 1.3;
}

.hire_text h1 {
  font-size: 3.2em;
}

.hire_text ul li {
  display: inline-block;
  font-size: 1.5em;
  padding: 0 10px;
}

/* ********* HOW IT WORKS SECTION ********
    This is the second div layer   */

#how_it_works {
  /*border: 1px solid tomato;*/
  max-width: 100%;
  height: 420px;
  background-color: #f7f7f7;
  margin: 0;
  padding: 10px;
}

#how_it_works_text {
  /*border: 1px solid maroon;*/
  color: #888;
  max-width: 100%;
}

#how_it_works_text h1 {
  /*border: 1px solid pink;*/
  margin: 100px auto 0;
  font-size: 45px;
}

#how_it_works ul li {
  /*border: 1px solid red;*/
  width: 160px;
  height: 134px;
  display: inline-block;
  margin: 80px auto 10px;
}

#how_it_works ul li p {
  font-size: 17px;
  max-width: 100%;
  height: 30px;
}

.post_job {
  margin-bottom: 20px;
}

.how_it_works_nav img {
  padding: 32px 0;
}

/* ********* LOOKING FOR A JOB SECTION ********
    This is the third div layer   */

#looking_for_job {
  /*border: 1px solid;*/
  max-width: 100%;
  /*height: 428px;*/
  background-image: url("../images/looking_for_job_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0;
}

#looking_for_job h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

#looking_for_job p {
  font-size: 20px;
}

#looking_for_job form {
  margin-top: 30px;
}

/* ********* OUR PARTNERS ********
    This is the fourth div layer   */

#our_partners {
  /*border: 1px solid orange;*/
  max-width: 100%;
  height: 386px;
}

.our_partners_text {
  margin-right: 40px;
  margin-left: 40px;
}

.our_partners_text h1 {
  font-size: 50px;
  color: #9a9a9a;
  /*border: 1px solid cyan;*/
  margin: 40px auto 10px;
}

.our_partners_text ul {
  /*border: 1px dotted maroon;*/
  padding-top: 30px;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
}

/*.our_partners_text ul li {
  display: inline-block;
  margin: 60px 20px 0;
}*/

.our_partners_logo {
  border: 1px solid #ededed;
  width: 255px;
  height: 162px;
  margin: 20px auto 50px;
}

.our_partners_logo img {
  max-width: 100%;
  margin: 20px 0;
  position: center;
}

.logo4 img {
  margin-top: 40px;
}

/* ********* FOOTER ********
    This is the fifth and last div layer   */

footer {
  /*border: 1px solid maroon;*/
  border-top: 5px solid #208b0a;
  max-width: 100%;
  height: 88px;
  background-color: #333;
}

footer ul {
  float: left;
  margin-top: 50px;
  margin-left: 60px;
}

footer ul li {
  display: inline;
  padding-right: 20px;
}

footer ul li a {
  font-size: 12px;
  color: #b4b4b4;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* ********* THE END ********  */